<div class="skills">
  <h2 class='title-section-right'>Skills<span class='dot-title'></span></h2>
  <div class="skills__icons">
    <fa-icon [icon]="faHtml5" size="lg" title="HTML5"></fa-icon>
    <fa-icon [icon]="faCss3Alt" size="lg" title="CSS3"></fa-icon>
    <fa-icon [icon]="faJs" size="lg" title="JavaScript"></fa-icon>
    <fa-icon [icon]="faAngular" size="lg" title="Angular"></fa-icon>
    <fa-icon [icon]="faReact" size="lg" title="React"></fa-icon>
    <fa-icon [icon]="faDocker" size="lg" title="Docker"></fa-icon>
    <fa-icon [icon]="faGitAlt" size="lg" title="Git"></fa-icon>
    <fa-icon [icon]="faJira" size="lg" title="Jira"></fa-icon>
  </div>
</div>
