@use 'style/colors' as colors;
@use 'style/fonts' as fonts;
@use 'style/breakpoints' as breakpoints;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

a {
  color: colors.$text-color;
  text-decoration: none;
  cursor: pointer !important;
}

body {
  font-family: fonts.$font-ubuntu;
  max-width: 100vw;
  padding: 20px;
  background-color: colors.$background-color;
  color: colors.$text-color;
  border-radius: 10px;
}

html {
  margin: 8px;
  background-color: colors.$background-color-with-opacity;
}

.title {
  color: colors.$color-primary;

  &-section {
    @extend .title;
    line-height: 2;
    color: colors.$text-color;
    font-size: 40px;
    margin-bottom: 20px;

    &-left {
      @extend .title-section;
      text-align: left;
    }
    &-right {
      @extend .title-section;
      text-align: right;
    }
  }
}

//.animated-text-word {
//  opacity: 0;
//  animation: translateXAnimation 0.8s ease-in-out forwards;
//}
//
.dot-title {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: colors.$color-primary;
  margin-left: 10px;
}
//
//.title-project-line {
//  width: 100%;
//  height: 1px;
//  background-color: colors.$text-color;
//  opacity: 0.5;
//}

// margin with opacity for mobile
@include breakpoints.responsive-min-width(breakpoints.$m){
  html {
    margin: 15px;
  }
  body {
    padding: 20px 10%;
  }
  .title-section {
    font-size: 56px;
  }
}
